.main-footer {
    margin-top: 50px;
    background-color: #353535;
    padding-top: 25px;
    height: 100%;
    color: #FFFF;
   
    
  }
  .footerRigth{
    padding-top: 20%;
  } 

  .footerlink{
    text-decoration: none;
    color: #ffffff;
  }

  .footerlink:hover{
    text-decoration: none;
    color: #c8cdd2;
  }