.navbarInfo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    background: #353535;
    //  background: linear-gradient(90deg, rgba(2,0,36,1) 13%, rgba(125,130,131,0.9303922252494747) 21%); 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    >h1{
        font-size: 20px !important;
    }
    >h1>a {
        text-decoration: none;
        color: #FFFFFF;
        font-size: 32px;
        padding-left: 2rem;
    }

    .navbarMidle {
        display: inline;
        width: 500px;
    }

    .navbarInfoSearch {

        display: flex;

        align-items: left;
        justify-content: left;

        >input {
            width: 500px;
        }
        @media  screen and (max-width:1000px) {
            width: 85%;
        }
    }

    .navbarInfoOptions {

        display: flex;
        align-items: center;


        >a {
            text-decoration: none;
            color: #FFFFFF;
            display: flex;
            align-items: center;
            padding: .25rem;
            height: 100%;
            font-size: 24px;
        }

        .endOfMenu {
            padding-right: 25px;
        }
    }

    margin-bottom: 0px;


}

.searchList {

    list-style: none;
    position: absolute;
    top: 4%;

    >li {

        background-color: #FFFFFF;
        height: 35px;
        display: flex;
        flex-direction: row;

    }
}

.navbarInfoImg {
    width: 30px;
    height: 30px;
}

.navbarLogo {
    width: 30px;
    height: 30px;
    margin-bottom: 6px;

}

.navbarCart {
    width: 50px !important;
}

.cartImg {
    margin-right: 0px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -18px;
    margin-top: -25px;
}