.mentionsLegales {
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
    background-color: #5e5e5e;
    width: 90%;
    min-height: 320px;
    padding: 15px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
    color:#ffff;

    
    a{
        color:#dc3545;
    }
    >p {
        padding-top: 20px;
        font-size: 16px;
    }

    >p>p {
        color: cadetblue;
        padding-left: 20px
    }

    h3 {
        margin-top: 5px;
    }
    hr {
        border-bottom: 5px solid black;
        width: 35%;
        padding-left: 0px;
        margin: 0px;
    }

    p {
        padding-left: 8px;
    }
}