.formInfosBtn{
    display: flex;
    justify-content: space-between;
}
.formTop {
    margin-top: 30px !important;
}

.radio-inlineInfo{
    display: flex;
    justify-content: space-around !important;
    align-items: left !important;
}